body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.real-town {
  font-size: 20px;
}

.site-navigation ul,
.features,
.social-buttons,
.search-of-hotels {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

a:hover {
  color: #81b3d2
}

a:focus {
  color: #dadada;
}

.welcome-to-sedona {
  background-image: url("../img/intro.png");
  width: 1200px;
  height: 725px;
  background-repeat: no-repeat;
  background-color: #ace5ee;
}

.container .about-sedona,
.interest {
  text-align: center;
}

.blue-box {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.features-title {
  text-align: center;
}

.item-list {
  background-color: #eeeeee;
  text-align: center;
}

.date-input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.date-input:hover {
  background-color: #ebebeb;
}

.date-input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.number-input {
  font: inherit;
  color: #81b3d2;
  border: none;
}

.number-input:hover {
  color: #000000;
}

.number-input:active {
  color: #81b3d2;
}

.brown-button {
  background-color: #766357;
  color: #ffffff;
  border: none;
}

.brown-button:hover {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
  color: #928a85;
}

.blue-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.blue-button:hover {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.social-button {
  background-color: #81b3d2;
  text-decoration: none;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.rating {
  background-color: #f2f2f2;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.welcome-to-sedona {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.real-town {
  display: flex;
}

.features {
  display: flex;
  width: 100%;
}

.devils-bridge {
  display: flex;
}

.main-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-buttons {
  display: flex;
  justify-content: center;
}

.social-button {
  padding: 10px;
  display: flex;
  margin: 5px;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dates {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.numbers {
  display: flex;
  justify-content: space-around;
}

.hotel-search {
  display: flex;
  flex-direction: column;
}

.search-of-hotels {
  display: flex;
  flex-direction: column;
}

.variants {
  display: flex;
  width: 1200px;
  justify-content: flex-start;
}

.discription {
  display: flex;
  flex-direction: column;
}

.quality {}